.auth-container {
    height: 100%; 
    /* margin: auto; */
    display: flex;
  justify-content: center;
  align-items: center;
}

.form-title {
    text-align: center;
}

.login-form-button {
    background-color: var(--primary-blue) !important;
    width: 100%;
}

a {
    color: var(--primary-blue) !important;
    cursor: pointer;
}



.neighbor-text {
    color: var(--primary-blue);
    cursor: pointer;
}