.auth-container {
    height: 100%; 
    /* margin: auto; */
    display: flex;
  justify-content: center;
  align-items: center;
}

.form-title {
    text-align: center;
}

.login-form-button {
    background-color: #0BB5FF !important;
    width: 100%;
}

a {
    color: #0BB5FF !important;
}



.neighbor-text {
    color: #0BB5FF;
}