/* .ant-card-head-title {
    color: var(--primary-blue);
    font-size: 1.5rem;
} */

.base-div {
    padding: 1rem;
    height: 100%;
}

/* .base-div .ant-card {
    height: 100%;
} */



.more-text {
    color: var(--primary-blue)
}

.page-title {
    font-size: 1.5rem;
    /* 2rem */
    /* If i make it 2 rem, i need to decrease the .list-body height */
    color: var(--primary-blue); 
    position: sticky; 
    z-index: 2;
    width: 100%;
    margin-bottom: 0;
    padding: 1rem;
    /* text-align: center; */
    /* margin: 0;
    margin-left: 1rem; */
    
    /* padding: 1rem 0; */
    /* display: inline-block; */
    border-bottom: 1px solid #e8e8e8;
    /* border: 1px solid #f0f0f0 */

}

.list-body {
    
    height: 90%;
    /* max-height: 100%;  */
    /* position: absolute; */
    /* // shold i just yse margin */
     /*50vh3  */
    /* max-height */
    padding: 24px;
    overflow: scroll;
    /* overflow-y */
    -webkit-overflow-scrolling: touch;
    /* Might change this to scroll */
}

/* .ant-card-body button {
    background-color: var(--primary-blue);
    border: none;
} */

.ant-card-body .accept-button,  .comfirm-button{
    background-color: var(--primary-blue);
    border: none;
}



.spinning-loading {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  /* height: 90%;
    padding: 24px; */
}

/* .ant-layout-content {
    min-height: 100vh;
} */

@media (max-width: 700px) {
    .base-div {
        padding: 0;
    }

    .list-body, .spinning-loading {
        height: 60vh; 
        /* make it bigger */
        /* height: auto; */
        /* max-height: 90%; */
         /*Used 60  */
        /* need to figujre this out */
    }

    
}